<div class="slider-default bannerslider">
  <div class="hrv-banner-container">
    <div class="hrvslider">
      <ul class="slides">
        <li>
          <a href="/collections/dong-ho-nam-rolex" class="hrv-url">
            <img class="img-responsive" src="static/images/slideshow_1.jpg" alt="Thời trang nam" />
          </a>
          <div id="hrv-banner-caption1" class="hrv-caption hrv-banner-caption">
            <div class="container">
              <div class="hrv-caption-inner">
                <div class="hrv-banner-content slider-1">
                  <h2 class="hrv-title1">Đẳng cấp về thương hiệu</h2>
                  <h3 class="hrv-title2">ĐỒNG HỒ ROLEX</h3>
                  <a href="/collections/dong-ho-nam-rolex" class="hrv-url">Xem ngay</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="/collections/dong-ho-nam-tissot" class="hrv-url">
            <img class="img-responsive" src="static/images/slideshow_2.jpg" alt="" />
          </a>
          <div id="hrv-banner-caption2" class="hrv-caption hrv-banner-caption">
            <div class="container">
              <div class="hrv-caption-inner">
                <div class="hrv-banner-content slider-2">
                  <h2 class="hrv-title1">Tinh tế sang trọng</h2>
                  <h3 class="hrv-title2">ĐỒNG HỒ TISSOT</h3>
                  <a href="/collections/dong-ho-nam-tissot" class="hrv-url">Xem ngay</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="/collections/cap-dong-ho-tinh-yeu" class="hrv-url">
            <img class="img-responsive" src="static/images/slideshow_3.jpg?v=90" alt="" />
          </a>
          <div id="hrv-banner-caption3" class="hrv-caption hrv-banner-caption">
            <div class="container">
              <div class="hrv-caption-inner">
                <div class="hrv-banner-content slider-3">
                  <h2 class="hrv-title1">Món quà hạnh phúc</h2>
                  <h3 class="hrv-title2">Tiết kiệm đến 50%</h3>
                  <a href="/collections/cap-dong-ho-tinh-yeu" class="hrv-url">Xem ngay</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>